
@{
    ViewData["Title"] = "Перегляду курсу - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    @Model.Name <span style="float:right;">Викладач: <a asp-controller="Profile" asp-action="VieProfile" asp-route-id="@Model.Teacher.Id">@Model.Teacher.Name</a></span>
</h3>
<hr />
<h4>Всього уроків @Model.CourseLessons.Count <a asp-controller="Course" asp-action="AddLesson" asp-route-id="@Model.Id" class="btn btn-success" style="float:right;margin-right:10px;">Додати новий урок</a></h4>
<hr />
@for(int i=0; i<Model.CourseLessons.Count; ++i)
{
    <div class="panel panel-default">
        <div class="panel-body" style="@((Model.CourseLessons[i].IsControlWork)?"background-color: #ffedf0;":"")">
            <b>Урок №@(i + 1):</b> <a asp-controller="Course" asp-action="ViewLesson" asp-route-id="@Model.CourseLessons[i].Id">@Model.CourseLessons[i].Name</a>
            <a asp-controller="Course" asp-action="ViewLesson" asp-route-id="@Model.CourseLessons[i].Id" class="btn btn-primary" style="float:right;margin-right:10px;">Переглянути урок</a>
            <br>
            <b>Дата:</b> <span class="label label-primary">@Model.CourseLessons[i].Date</span>
        </div>
    </div>
}