
@{
    ViewData["Title"] = "Перегляд уроку - " + Model.LessonName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.LessonName</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 14px;">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">Інформація про урок</a></li>
                <li role="presentation"><a href="#">Обговорення <span class="badge">42 нових повідомлення</span></a></li>
            </ul>
        </h3>
    </div>
    <div class="panel-body">
        @((Model.LessonDescription != null)?Model.LessonDescription.Text:"")
        <h5><b>Прикріплені файли (@Model.LessonDescription.PostAtachments.Count):</b></h5>
        @if(Model.LessonDescription.PostAtachments.Count==0)
        {
            <div class="alert alert-danger" style="padding: 5px;">Немає прикріплень</div>
        }
        else
        {
        <div class="list-group">
            @foreach(var attach in Model.LessonDescription.PostAtachments)
            {
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                @attach.FileName
            </a>
            }
        </div>
        }
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 14px;">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#" class="alert-link" style="background-color: #f0ad4e;">Домашня робота</a>
                </li>
            </ul>
        </h3>
    </div>
    <div class="panel-body">
        @((Model.HomeWorkDescription != null)?Model.HomeWorkDescription.Text:"")
        <h5><b>Прикріплені файли (@Model.HomeWorkDescription.PostAtachments.Count):</b></h5>
        @if(Model.HomeWorkDescription.PostAtachments.Count==0)
        {
            <div class="alert alert-danger" style="padding: 5px;">Немає прикріплень</div>
        }
        else
        {
        <div class="list-group">
            @foreach(var attach in Model.HomeWorkDescription.PostAtachments)
            {
            <a href="#" class="list-group-item">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                @attach.FileName
            </a>
            }
        </div>
        }
        <hr />
        <h3>Відправити домашнє завдання</h3>
        <form>
            <div class="form-group">
                <label for="InputComment">Короткий звіт про виконе домашнє завдання</label>
                <textarea class="form-control" id="InputComment" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="InputFile">Прикріпити файли</label>
                <input type="file" id="InputFile">
                <p class="help-block">Тут ви можете прикріпити файли з розширенням *.doc, *.docx, *.txt, *.ppt, *.pptx</p>
            </div>
            <button type="submit" class="btn btn-success">Надіслати на перевірку</button>
        </form>
    </div>
</div>