@{
    ViewData["Title"] = "Головна сторінка";
}
<h3>Усі курси</h3>
<hr />
@{ 
    byte[] roleB = new byte[40];
    string role = "";
    if (Context.Session.TryGetValue("role", out roleB))
    {
        role = System.Text.Encoding.Default.GetString(roleB);
    }
}
@foreach(var elem in Model)
{
<div class="panel panel-default">
    <div class="panel-heading"><a asp-controller="Course" asp-action="ViewCourse" asp-route-id="@elem.Id">@elem.Name</a></div>
    <div class="panel-body">
        Опис курсу
        @if (role == "student") {<a asp-controller="Course" asp-action="RequestCourse" asp-route-id="@elem.Id" class="btn btn-success" style="float:right;">Подати заявку на курс</a>}
        <a asp-controller="Course" asp-action="ViewCourse" asp-route-id="@elem.Id" class="btn btn-primary" style="float:right;margin-right:10px;">Переглянути курс</a>
        <br>
        <b>Викладач:</b> <a asp-controller="Profile" asp-action="View" asp-route-id="@elem.Teacher.Id"><span class="label label-primary">@elem.Teacher.Name</span></a>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>
}